extends ./base_other.jade

block content
    ul(class="list-group")
        each val, index in events
            if val.isPerson
                li(class="list-group-item#{val.today ? ' today' : ''}", data-id="#{val.id}")
                    span(class="typo") #{val.date}
                    span(class="typo") #{val.event}
                    span(class="typo")
                        a(href="/person?id=#{val.id}") #{val.host}
            else
                li(class="list-group-item society#{val.today ? ' today' : ''}")
                    span(class="typo") #{val.date}
                    b(class="typo") #{val.event}
                    span(class="typo") #{val.host}
