extends ./base_other.jade

mixin dayOfWeek(dayOfWeek, events)
    if events.nearest
        | #{dayOfWeek}

block content
    ul(class="list-group")
        each val, index in events
            if val.isPerson
                li(class="list-group-item#{val.today ? ' today' : ''}", data-id="#{val.id}")
                    span(class="typo monospace") 
                        | #{val.date} 
                        +dayOfWeek(val.dayOfWeek, events)
                    span(class="typo") #{val.event}
                    span(class="typo")
                        a(href="/person?id=#{val.id}") #{val.host}
            else
                li(class="list-group-item society#{val.today ? ' today' : ''}", style="background-color:#{val.color || 'white'}")
                    span(class="typo monospace") 
                        | #{val.date} 
                        +dayOfWeek(val.dayOfWeek, events)
                    b(class="typo") #{val.event}
                    span(class="typo") #{val.host}
